body {
  background-color: rgb(255, 253, 253);
  box-sizing: border-box;
}

.intro h1 {
  text-align: center;
  margin: 20px;
  background-color: rgb(125, 160, 125)
}

.intro h2 {
  text-align: center;
}

.about hr {
  margin-right: 1140px;
}

.intro img {
  display: block;
  margin: auto;
  border: 5px solid rgb(125, 160, 125);
  border-radius: 50%;
}