body {
  background-color: rgb(255, 253, 253);
  box-sizing: border-box;
}

.intro h1 {
  text-align: center;
  margin: 20px;
  font-family: Verdana;
  font-size: 40px;
  color:rgb(93, 90, 245);
}

.intro h2 {
  text-align: center;
  color:rgb(93, 90, 245);
}

.about hr {
  margin-right: 1140px;
}

.intro img {
  display: block;
  margin: auto;
  border: 15px solid rgb(103, 102, 153);
  border-radius: 50%;
}

.began h4, .epicodus h4, .hobbies h4 {
  font-size: 28px;
  color: rgb(93, 90, 245);
}

.portfolio a {
  font-size: 20px;
}

.intro a {
  display: block;
  text-align: center;
  font-size: 40px;
}

.projects {
  float: right;
  background-color: lightpink;
  border: 1px solid rgb(103, 102, 153);;
  border-radius: 10%;
}

.projects h3 {
  text-align: center;
}


.epicodus ul, span {
  color: red;
  font-weight: bold;
}